[color]
  ui = true
[core]
  autoctrl = input
	excludesfile = /Users/charles.pugmire/.gitignore_global
  editor = nano
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
  default = current
[user]
  name = Charley
  email = ctpugmire@gmail.com
[includeIf "gitdir:~/code/fast/"]
    path = ~/.gitconfig-fast
